mat-card {margin-top: 20px;}

#control-buttons {margin-top: 20px;}

.control-button {
    background-color: #F7F6F0;
    border: solid 1px gray;
    border-radius: 5px;
    height: 31px;
    margin-right: 12px;
    vertical-align: middle;
}

mat-icon {padding-top: 1px;}

#reset-button {padding: 0 10px;}